<% include ./layout %>
<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8"> 
    <title>Document</title> 
  </head>
    <body>
      <h1>검색하기</h1>
      <form id="form_search" method="GET" action="/show/orSearch" style="width:120px;">
        <div class = "col-xs-5 col-md-2">
          <div class="ui category search">
            <div class="ui icon input"  style = "width:150px;">
                <input id="id_keyword" name="searchkeyword" class="prompt" type="search" placeholder="검색해요" />
                <input type="date" name="startdate">
                <input type="date" name="enddate">
                <input id="id_keyword" name="searchkeyword2" class="prompt" type="search" placeholder="검색해요 searchkeyword2" />
                
                </div>
                <input type="submit" value="검색하기"> 
              </div>
        </div>
        </form>
        <h1>조회 기간</h1>
        

      <h1>목록 추가하기</h1>
      <form action="/create" method="POST"> 
        <table> 
          <tr>
             <td>
               <tr>
           <textarea rows = "8" cols="80"name="inputTitle" placeholder="제목들"></textarea>
           </td>
               </tr> 
                 <td><input type="text" name="inputWriter" placeholder="작성자를 입력하세요."></td> 
                </tr>
               </table> 
               <input type="submit" value="전송하기"> 
          </form>
          
          <table>
              <tr>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
              </tr>
              <% for(let post of posts) { %>
                <tr>
                  <td><%= post.title %></td>
                  <td><%= post.writer %></td>
                  <td><%= post.createdAt %></td>
                  <td><button ><a href="/edit/<%=post.id%>">수정하기</a></button></td>
                 
            
            
                  <form action="/delete/<%=post.id%>?_method=DELETE" method="post">
                    <td><input type="submit" value="삭제하기"></input></td>
                  </form>
                </tr>
              <% } %>
              </table>
            
                count: <%=count %>
                user: <%=user %>
 
                <nav>
                  <div class="ui pagination menu">
                    <% for (let i=1; i<= pages ; i++) { %>
                    <a class="item" href="./<%=i%>"><%=i%></a>
                    <% } %>                  
                  </div>
                </nav>
                <script>
                    $(".ui pagination menu").click(function(){
          window.location.href = "/detail?id="+$(this).data('id');
      });
                  
                  </script>
      </body>
      </html>
     <!-- <% for(let post of posts) { %>
                <tr>
                  <td><%= post.title %></td>
                  <td><%= post.writer %></td>
                  <td><%= post.createdAt %></td>
                  <td><button ><a href="/edit/<%=post.id%>">수정하기</a></button></td>
                 
            
            
                  <form action="/delete/<%=post.id%>?_method=DELETE" method="post">
                    <td><input type="submit" value="삭제하기"></input></td>
                  </form>
                </tr>
              <% } %> -->